<div class="card">
  <h5 class="card-title">{{news.title}}</h5>
  <img src={{news.image}} class="card-img-top" alt="{{news.title}}">
  <div class="card-body">
    
    <p class="card-text">{{news.subtitle}}</p>
    <a class="btn btn-dark d-flex justify-content-center" href="/news/{{news._id}}">Leer más</a>
  </div>
</div>


