<div class="container">
    <div class="card mt-4">
        <h1 class="card-header">Weather Information for <span id="weatherName">{{weather.name}}</span></h1>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Temperature:</strong> <span id="temperature">{{weather.main.temp}} &#8451;</span></p>
                    <p><strong>Feels Like:</strong> <span id="feelsLike">{{weather.main.feels_like}} &#8451;</span></p>
                    <p><strong>Minimum Temperature:</strong> <span id="minTemperature">{{weather.main.temp_min}} &#8451;</span></p>
                    <p><strong>Maximum Temperature:</strong> <span id="maxTemperature">{{weather.main.temp_max}} &#8451;</span></p>
                    <p><strong>Pressure:</strong> <span id="pressure">{{weather.main.pressure}} hPa</span></p>
                    <p><strong>Humidity:</strong> <span id="humidity">{{weather.main.humidity}}%</span></p>
                    <p><strong>Wind Speed:</strong> <span id="windSpeed">{{weather.wind.speed}} m/s</span></p>
                    <p><strong>Cloudiness:</strong> <span id="cloudiness">{{weather.clouds.all}}%</span></p>
                </div>
                <div class="col-md-6">
                    <img src="https://openweathermap.org/img/wn/01d.png" alt="Weather Icon" class="img-fluid">
                    <p>Clear sky</p>
                    <div class="d-flex align-items-center">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/1200px-Flag_of_Spain.svg.png"
                            alt="Flag of Spain" class="img-fluid spain-flag" onclick="reloadPage()">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function reloadPage() {
        location.reload(true); 
    }
</script>